@font-face {
  font-family: "Spotify";
  src: url("https://encore.scdn.co/fonts/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}


*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Spotify",sans-serif;
    background-color: black;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: clamp(200px, 25vw, 350px) repeat(11, 1fr);
    gap: 8px;
    grid-template-areas: 
    "gn gn gn gn gn gn gn gn gn gn gn gn"
    "ls mn mn mn mn mn mn mn mn mn mn mn"
    "ls mn mn mn mn mn mn mn mn mn mn mn"
    "ls mn mn mn mn mn mn mn mn mn mn mn"
    "ls mn mn mn mn mn mn mn mn mn mn mn"
    "ls mn mn mn mn mn mn mn mn mn mn mn"
    "ls mn mn mn mn mn mn mn mn mn mn mn"
    "ls mn mn mn mn mn mn mn mn mn mn mn"
    "ls mn mn mn mn mn mn mn mn mn mn mn"
    "ls mn mn mn mn mn mn mn mn mn mn mn"
    "ls mn mn mn mn mn mn mn mn mn mn mn"
    "npb npb npb npb npb npb npb npb npb npb npb npb";
    
}
/* ______________________________NAVBAR_________________________________ */
.global-navbar{
    background-color: #121212;
    padding: 8px;
    grid-column: 1/-1;
    display: flex;
    align-items: center;
}
/* ______Spotify logo setup______ */

.global-navbar .spotify-logo{
    width: 32px;
    height: 32px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.global-navbar .spotify-logo i{
    font-size: 32px;
    color: white;
}

/*__________search form setup______ */
.global-navbar .group1{
    display: flex;
    align-items: center;
    gap: 8px;
}

.global-navbar .home-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.global-navbar .home-btn .home-btn-rd{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #242424;
    cursor: pointer;
    transform: 0.3s ease;

}
.global-navbar .home-btn .home-btn-rd:hover{
    transform: scale(1.025);
    background-color: rgba(194, 169, 169,0.3);
}
.global-navbar .home-btn .home-btn-rd svg{
    width: 24px;
    height: 24px;
    fill: white;
}
/* search input box setup */

.global-navbar .group1 .search-box{
    width: clamp(250px, 50vw, 474px);
}
.global-navbar .group1 .search-box input[type="text"]{
    width: 100%;
    font-family: inherit;
    padding: 12px 16px 12px 48px;
    margin: 0 15px;
    border-radius: 500px;
    height: 48px;
    background-color: #242424;
    caret-color: white;
    caret-shape: block;
    border: 1px solid transparent;
    outline: none;
    color: white;
    transition: 0.3s ease;
}
/* ___placeholder font style  */
.global-navbar .group1 .search-box input::placeholder {
  color: #b3b3b3;      
  font-size: 1rem;    
  opacity: 1;         
}
/* ______________________ */


.global-navbar .group1 .search-box input[type="text"]:hover{
    box-shadow: 0 0 2px 0 rgb(194, 169, 169) inset;
    background-color: rgba(138, 133, 133,0.4);
}
.global-navbar .group1 .search-box input[type="text"]:focus{
     box-shadow: 0 0 0 2px  white;
}
.global-navbar .group1 .search-box .form-box{
    position: relative;
    display: flex;
    align-items: center;
}
.global-navbar .group1 .search-box button svg{
    height: 24px;
    width: 24px;
    fill: #b3b3b3;
    transition: 0.2s ease;
}
.global-navbar .group1 .search-box button svg:hover{
    fill: white;
}

.global-navbar .group1 .search-box .form-box:hover svg{
    fill: white;
}
.global-navbar .group1 .search-box button{
    position: absolute;
    height: 100%;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0 8px;

}















/* ________________________________________________________________________ */
.left-sidebar{
    background-color: #121212;
    grid-row: 2/-2;
}
.main-view{
    background-color: #121212;
    grid-row: 2/-2;
    grid-column: 2/-1;
}
.now-playing-bar{
    background-color: #121212;
    grid-column: 1/-1;
}